.cards {
  padding: rem(20) 0;
  &.cards--search {
    padding: rem(20) 0 0 0;
  }
}

.cards__position {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: rem(20);
  &.cards__position--flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0;
  }
  &.cards__position--start{
    align-items: start;

  }
}

.cards__image {
  width: rem(80);
  border-radius: 50%;
}

.cards-content,
.text {
  display: flex;
  flex-flow: column wrap;
}

.cards-content {
  background-color: $white;
  padding: rem(10) rem(15);
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  justify-content: start;
  .cards-content--margin {
    margin-left: rem(10);
    margin-right: rem(10);
    margin-top: rem(25);
  }
  &.cards-content--padding{
    padding: rem(10) rem(35);
  }
}

.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: rem(5);
  &.about--flex{
    justify-content: start;
  }
}

.about__city {
  font-size: rem(12);
  margin-left: rem(20);
}
.about__name{
  font-size: rem(12);
}

.cards__position__title {
  color: $white;
  font-family: "Lato", "Helvetica Neue", sans-serif;
  text-align: center ;
  &.cards__position__title--blue{
    color: $blue-light;
  }
  &.cards__position__title--size{
    font-size: rem(30);
  }
  &.cards__position__title--hebSize{
    font-size: rem(20);
  }
}


.text{
  font-size: rem(12);
  padding-bottom: rem(5);
  &.text--padding{
    padding: 0 rem(55);
    text-align: center;
  }
  &.text--padding{
    padding: rem(10) rem(40);
  }
}
.text__content{
  font-size: rem(15);
  &.text__content--size{
    font-size: rem(20);
  }
}
.text__content__cat{
  color: $blue-light;
  font-weight: bold;
}

.place{
  font-size: rem(12);
}
.place__content__cat{
  color: $blue-light;
  font-weight: lighter;
}

.contact {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: rem(20);
  padding-left: rem(10);
  padding: rem(10) rem(35);
}

.contact{
}

.contact__content{
  font-weight: lighter;
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

.contact__content__title{
  font-weight: normal;
  color: $blue-light;
}