.connect-main {
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

.title__title {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  text-align: center;
  color: $white;
  font-size: rem(14);
  font-weight: bolder;
  text-transform: uppercase;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: rem(15) rem(30);
}

.form__label {
  color: $white;
  font-size: rem(14);
  margin-bottom: rem(5);
}

.form__input {
  background: $white;
  border-radius: rem(4);
  border: none;
  padding: rem(15) rem(10);
  margin-bottom: rem(20);
}

.form__validate {
  @include button;
  margin: 0 auto;
}

.forget {
  padding: rem(0) rem(30);
}

.forget__link {
  color: $white;
  font-size: rem(11);
}

.create__link {
  text-align: center;
  color: $white;
  font-size: rem(14);
  text-transform: uppercase;
  text-decoration: underline;
  padding: rem(30);
}

.profil-form__content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  padding: rem(20) 0 0 0;
  &.profil-form__content--content{
    justify-content: row;
  }
}

.profil-form__content__label{
  font-family: "Lato", "Helvetica Neue", sans-serif;
  color: $blue-light;
}

.profil-form__content__input{
  border: 1px solid $blue-light;
  width: 80px;
  margin: 0 rem(10) 0 rem(10);
  border-radius: 5px;
  &.profil-form__content__input--size{
    width: 100%;
    height: rem(50);
  }
}