.blue-light {
  background: $blue-light;
  height: 100vh;
}

.header {
  position: relative;
  z-index: 1;
  padding: rem(40) rem(20);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__title {
  font-family: 'Lato', "Helvetica Neue", sans-serif;
  font-size: rem(36);
  color: $white;
}

.header__logo {
  width: rem(100);
  height: rem(74);
  margin-bottom: rem(30);
}

.page__return{

}
.header__return{
  position: absolute;
  top: rem(10);
  left: rem(10);
  width: rem(30);
  z-index: 99;
}